* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Lato;
}

h3::first-letter {
    background-color: #1faa1a;
}

h4::first-line {
    text-emphasis-color: #ddd;
    background-color: #000000;
}

a:hover {
    color: #26A65B;
}

